.clock {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  background-color: royalblue;
  border-radius: 10px;
  font-family: 'Cinzel';
}

#clock {
  width: 50%;
  margin: 0 auto;
  font-family: 'Cinzel';
}

div.tabs-widget {
  margin: 0 auto;
  width: 50%;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 5px;
}

ul.tab-header {
  padding: 0;
  margin-top: 0px;
  display: flex;
}

ul.tab-header h1 {
  margin-right: 10px;
  border: 0.5px solid blue;
  border-radius: 2px;
  padding: 3px;
  font-family: 20px;
}

ul.tab-header h1:hover {
  background-color: navy;
  color: white;
}

ul.tab-header h1:mouseover {
  cursor: pointer;
}

article.tab-content {
  font-family: 'Cinzel';
}

div.weather {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  background-color: deepskyblue;
  border-radius: 4px;
}

div.weather h1, div.weather h2 {
  font-family: 'Cinzel'
}

.autocomplete {
  background-color: darkslateblue;
  width: 45%;
  margin: 0 auto;
  height: 480px;
}

.autocomplete li {
  list-style-type: none;
  color: seashell;
}

input {
  width: 100%;
}

.autocomplete ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}